# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Credentials and secrets
credentials.json
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
